html {
  scroll-behavior: smooth;
}


body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title-1 {
  color: var(--Dark);
  font-size: 72px;

  font-weight: 700;
  line-height: normal;
}
.title-4 {
  color: var(--Grey);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
}
.text {
  color: var(--Grey);
  font-size: 18px;
  font-weight: 450;
  line-height: 150%;

  p + p {
    margin-top: 1em;
  }
}
.accent-blue {
  color: var(--Blue);
  font-weight: 500;
  line-height: 150%;
}
.accent-price {
  color: var(--Dark);
  font-weight: 500;
  line-height: 150%;
}
.price {
  color: var(--Grey);
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}
.rating{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
  &::before {
    content: "";
    width: 17px;
    height: 16px;
    background-image: url("./../img/icons/star-small.svg");
    background-repeat: no-repeat;
  }
}
