.btn-signup {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;

  height: 40px;
  border-radius: 8px;
  background: var(--Dark);

  color: var(--White);
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 0.8;
  }
}
