.btn-login {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #b7b7b7;
  height: 40px;

  color: #454545;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}
