.discover {
  padding: 60px 120px;
}

.disciver__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.discover__title {
  margin-bottom: 24px;
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    background-image: url(./../img/discover/underline.svg);
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 268px;
    height: 24px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  @include mediaTablet {
    font-size: 50px;
  }
}
.discover__text {
  margin-bottom: 40px;

}

.discorev__picture {
  position: relative;
}

.discorev__picture-hint {
  position: absolute;
  top: 90px;
  left: 40px;
  z-index: 10;

  @include mediaLaptop {
    top: 40px;
    left: 20px;
  }
  @include mediaTablet {
    top: 20px;
    left: 10px;
  }
}
.discorev__picture-scroll {
  position: absolute;
  right: 15px;
  bottom: 20px;
  @include mediaLaptop {
    right: 0;
    bottom: 0;
  }
  @include mediaTablet {
    max-width: 80px;
  }
}
