.discover {
  padding: 60px 120px;
}

.disciver__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.discover__title {
  margin-bottom: 24px;
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    background-image: url(./../img/discover/underline.svg);
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 268px;
    height: 24px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.discover__text {
  margin-bottom: 40px;
}

.discorev__picture {
  position: relative;
}

.discorev__picture-hint {
  position: absolute;
  top: 90px;
  left: 40px;
  z-index: 100;
}
.discorev__picture-scroll {
  position: absolute;
  right: 15px;
  bottom: 20px;
}
