.footer {
  background-color: var(--Dark);
  color: var(--White);
  padding: 80px 0;
  a {
    color: var(--White);
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__copyright {
  display: grid;
  gap: 24px;
  max-width: 300px;
}
.footer__nav {
  display: flex;
  gap: 40px;
}
