.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  font-size: 16px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  a {
    color: var(--Dark);
  }
  a:hover,
  a.active {
    color: var(--Blue);
  }
}

.nav__btns {
  display: flex;
  gap: 12px;
}
