<div class="card-review">
  <div class="card-review__rating">
    @@for (var i = 0; i < context.stars; i++) {
    <img src="./img/testimonials/star.svg" alt="rating star" />
    } @@if (context.stars < 5){ @@for (var i = 0; i < 5 - context.stars; i++) {
    <img src="./img/testimonials/star-off.svg" alt="rating star" />
    } }
  </div>
  <p class="card-review__text">@@text</p>

  <div class="card-review__author">
    <div class="card-review__author-img">
      <img src="./img/testimonials/@@photo" alt="Nichole Edward" />
    </div>
    <div class="card-review__author-title">
      <h4 class="card-review__author-name">@@name</h4>
      <p class="card-review__author-role">@@role</p>
    </div>
  </div>
</div>
